@model Task_Management_System.ViewModel.ChildDetailViewModel
@{
    ViewData["Role"] = "parent";
}
<div class="row">
    <div class="col-sm-6"><h3>@Model.FirstName's profile details</h3></div>
    <div class="col-sm-3">
        <form method="Get" style="display: inline">
            <input type="hidden" id="childId" name="childId" value="@Model.ChildId" />
            <input type="submit" class="btn btn-info" value="Edit Profile" asp-controller="Child" asp-action="Edit" asp-route-id="@Model.ChildId" />
        </form>&nbsp;&nbsp;
        <form method="post" style="display: inline">
            <input type="hidden" id="childId" name="childId" value="@Model.ChildId" />
            <input type="submit" class="btn btn-danger" value="Delete Profile" asp-controller="Child" asp-action="Delete" />
        </form>
    </div>
</div>

<div class="form-group">
    <table class="table">
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>

    </table>
</div>

@if (Model.Tasks.Count == 0)
{
    <p>No Tasks added for @Model.FirstName yet!</p>
}
else
{
    <h4>Assigned Tasks:</h4>
    <table class="table">
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Points</th>
        </tr>
        @foreach (Task_Management_System.Models.Task task in Model.Tasks)
        {
            <tr>
                <td><a asp-controller="Task" asp-action="Detail" asp-route-id="@task.Id">@task.Name</a> </td>
                <td>@task.Description.</td>
                <td>@task.Point</td>
            </tr>
        }
    </table>
}


